{% extends 'base.html' %}

{% block links %}
    <link href="{{ url_for('static', filename='css/posts.css') }}" rel="stylesheet" type="text/css">
    <script defer src="{{ url_for('static', filename='js/posts.js') }}" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% if info.type == 'today' %}
<h1>Posts von heute</h1>
{% elif info.type == 'user' %}
<h1>Posts von {{ info.name }}</h1>
{% endif %}

<div class="post-container">
    {% for post in context %}
        <div class="post-wrapper">
            <div class="user-banner">
                <a class="profile-photo-link" href="/user/{{ post.user.username }}">
                    <img src="{{ post.user.profile_picture }}" alt="" class="user-img">
                </a>
                <div class="user-info">
                    <span class="username">
                        {% if info.type == 'today' %}
                            <a href="/user/{{ post.user.username }}">{{ post.user.username }}</a>
                        {% elif info.type == 'user' %}
                            {{ post.user.username }}
                        {% endif %}
                    </span>
                    <span class="user-details">
                        {% if post.metadata.location.location_name %}<a target="_blank" href="https://maps.google.com/?q={{ post.metadata.location.latitude }},{{ post.metadata.location.longitude }}">{{ post.metadata.location.location_name }}</a> • {% endif %}
                        {{ post.time.late }}h late ({{ post.time.takenAt }} ➝ {{ post.time.creationTime }})
                    </span>
                    <div class="copy_button_wrapper">
                        <button class="custom-button waves-effect waves-light btn" onclick="copyPost('{{ post.id }}')">
                            Kopiere die ID
                        </button>
                    </div>
                </div>
            </div>
            <div class="post-content-wrapper">
                <div class="row">
                    <div class="col m6 s6">
                        <img class="post-img" src="{{ post.url1 }}">
                    </div>
                    <div class="col m6 s6">
                        <img class="post-img" src="{{ post.url2 }}">
                    </div>
                    {% if post.caption %}
                    <div class="col s12 caption">
                        <span class="small-heading">{{ post.caption }}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="realmoji-wrapper">
                    <span class="small-heading">RealMojis</span>
                    <div class="realmoji-container">
                        {% for image in post.realmojis %}
                        <div class="realmoji">
                            <img src="{{ image.url }}" class="realmoji-image">
                            <span>{{ image.username }}</span>
                        </div>
                        {% endfor %}
                        <!--<div class="realmoji">
                            <button class="waves-effect waves-light btn" onclick="">
                                Reagiere mit Cringe
                            </button>
                        </div>-->
                    </div>

                    
                </div>
            </div>
            <span class="small-heading">Kommentare</span>
            {% for comment in post.comments %}
                <p>{{ comment.username}}: {{ comment.text }}</p>
                <!--<p>{{ comment.time }}</p>-->
            {% endfor %}
            <div class="input-field col s12">
                <input id="commentInput-{{ post.id }}" type="text" placeholder="Kommentar hinzufügen...">
                <button class="custom-button waves-effect waves-light btn" onclick="addComment('{{ post.id }}')">Kommentar hinzufügen</button>
            </div>
        </div>
    {% endfor %}
</div>


<script>
    $(document).ready(function(){
        console.log("initialising...");
        $('.carousel').carousel();
    });
</script>

{% endblock %}